<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aboutdata.dao.OpenAuth2Dao">

    <resultMap id="openAuth2ResultMap" type="com.aboutdata.domain.OpenAuth2">
        <result property="id" column="id"></result>
        <result property="oauthId" column="oauthId"></result>
        <result property="type" column="type"></result>
        <result property="memberId" column="member_id"></result>

        <result property="createDate" column="createDate"></result>
        <result property="modifyDate" column="modifyDate"></result>
    </resultMap>

    <select id="findByOauthIdAndType" resultMap="openAuth2ResultMap">
       select
       *
       from
       xx_open_auth2
       where
       oauthId =#{oauthId} AND type=#{type}
    </select>


</mapper>