<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aboutdata.dao.TagDao">

    <resultMap id="tagResultMap" type="com.aboutdata.domain.Tag">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="fullName" column="fullName"></result>
        <result property="treePath" column="treePath"></result>
        <result property="parentId" column="parentId"></result>

        <result property="createDate" column="createDate"></result>
        <result property="modifyDate" column="modifyDate"></result>
    </resultMap>

    <select id="getByName" parameterType="String" resultType="int">
       select t.* from xx_tag WHERE t.name = #{name}
    </select>

    <select id="findTagStringByName" parameterType="String" resultType="int">
        select t.* FROM Tag t WHERE t.name LIKE concat("%",#{name},"%")
    </select>

</mapper>